*{
    margin: 1;
    box-sizing: inherit;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.container-menu{
    border-radius: 10px;
    background-color: lightblue;
    position: fixed!important;
    width:200px;
    height: 200px;
    
}

.menu, .item{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    text-decoration: none;
    color: inherit;
}

.menu{
    font-size: 150%;
    padding: 0;
}
.item{
    text-align: center;
    padding: 0;
}







/* sidebar */
/* .w3-light-grey {
    color: #000!important;
    background-color: #f1f1f1!important;
} */
/* .sidebar {
    height: 100%;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    padding: 0px;
    background-color: lightgray;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h2, p {
    margin: 10px 0;
}


*{
    margin: 0;
    box-sizing: inherit;
}
.item{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color: inherit;
} */


/* .menu {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    user-select: none;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
} */